/* ESERCIZIO 1 - IMPOSTAZIONI BASE */
.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
}

/* ESERCIZIO 1 - SVOLGIMENTO */
.ex-1-square {
    transition: 5s;
}

.ex-1-square:hover{
    background-color:red;
}

/* ------------------------------------------------------------ */

/* ESERCIZIO 2 - IMPOSTAZIONI BASE */
.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
}

/* ESERCIZIO 2 - SVOLGIMENTO */
.ex-2-square {
    transition: 5s;
}
.ex-2-square:active {
    width: 1100px;
}

/* ---------------------------------------------------------------- */

/* ESERCIZIO 3 - IMPOSTAZIONI BASE */
.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
}

/* ESERCIZIO 3 - SVOLGIMENTO */
.ex-3-square {
    transition: 2s;
}
.ex-3-square:hover{
    border-radius: 50%;
}

/* ------------------------------------------------------------ */

/* ESERCIZIO 4 - IMPOSTAZIONI BASE */
.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
}


/* ESERCIZIO 4 - SVOLGIMENTO */
.ex-4-square {
    transition: 3s;
}
.ex-4-square:hover{
    opacity: 0;
}

/* ------------------------------------------------------------ */

/* ESERCIZIO 5 - IMPOSTAZIONI BASE */
.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
}

/* ESERCIZIO 5 - SVOLGIMENTO */
.ex-5-square {
    transition: 3s;
}

.ex-5-square:hover {
    transform: scale(2);
}
.ex-5-square:active {
    transform: scale(0.5);
}


/* -------------------------------------------------------------- */

/* ESERCIZIO 6 - IMPOSTAZIONI BASE */
.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

/* ESERCIZIO 6 - SVOLGIMENTO */
.ex-6-img:hover{
    filter: grayscale(1);
}

/* ------------------------------------------------------------- */

/* ESERCIZIO 7 - IMPOSTAZIONI BASE */
.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

/* ESERCIZIO 7 - SVOLGIMENTO */
.ex-7-img {
    transition: 4s;
}
.ex-7-img:hover{
    filter: blur(30px) grayscale(1);
}

/* --------------------------------------------------------------- */

/* ESERCIZIO 8 - IMPOSTAZIONI BASE */
.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

/* ESERCIZIO 8 - SVOLGIMENTO */
.ex-8-img {
    transition: 4s;
}
.ex-8-img:hover{
    border-radius: 30px;
    border: 10px double orange;
    filter: saturate(2);
}

/* ----------------------------------------------------------- */

/* ESERCIZIO 9 - IMPOSTAZIONI BASE */
.ex-9-img {
    margin: 50px 100px;
    width: 400px;
}

/* ESERCIZIO 9 - SVOLGIMENTO */
.ex-9-img {
    transition: 7s;
}

.ex-9-img:hover{
    border-radius: 30px;
    border-top: 20px ridge black;
    border-bottom: 20px ridge blue;
    filter: grayscale(1) opacity(0);
    transform: scale(1.5);
}

/* --------------------------------------------------------------- */

/* ESERCIZIO 10 - IMPOSTAZIONI BASE */
.ex-10-icon {
    font-size: 60px;
} 

/* ESERCIZIO 10 - SVOLGIMENTO */
.ex-10-icon {
    animation-name: rotation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
} 

@keyframes rotation{
 
    from { 
        transform: rotate(0deg); 
    } to { 
        transform: rotate(360deg); 
    }
} 

/* ------------------------------------------------------------ */

/* ESERCIZIO 11 - IMPOSTAZIONI BASE */
.ex-11-icon {
    font-size: 60px;
}

/* ESERCIZIO 11 - SVOLGIMENTO */
.ex-11-icon {
    animation-name: comeback;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timing-function:ease-out;
} 

@keyframes comeback{
 
    0%{ 
        transform: rotate(0deg); 
    } 
    50% { 
        transform: rotate(270deg); 
    } 
} 

/* -------------------------------------------------------- */

/* ESERCIZIO 12 - IMPOSTAZIONI BASE */
.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}


/* ESERCIZIO 12 - SVOLGIMENTO */
.ex-12-button:hover .ex-12-top-white{
    animation-name: topwhite_tw;
    animation-duration: 4s;
    animation-timing-function: linear;
}

@keyframes topwhite_tw{
    0% {
        left: 10%;
    } 

    50% {
        left: calc(100% - 60px);
    }

    100% {
        left: 10%;
    }
    
}

.ex-12-button:hover .ex-12-bottom-white{
    animation-name: bottomwhite_tw;
    animation-duration: 4s;
    animation-timing-function: linear;
}


@keyframes bottomwhite_tw{
    0% {
        right: 20%;
    } 

    50% {
        right: calc(100% - 60px);
    }
    100% {
        right: 20%;
    }
}

/* ---------------------------------------------------------- */

/* ESERCIZIO 13 - IMPOSTAZIONI BASE */
.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}


/* ESERCIZIO 13 - SVOLGIMENTO */
.ex-13-button:hover .ex-13-top-white {
    animation-name: top_complete;
    animation-duration: 4s;
    animation-timing-function: linear;
}

@keyframes top_complete {
    0% {
        left: 10%;
        top: -10px;
    }
    30% {
        left: calc(100% - 30px);
        top: -10px;
    }
    45% {
        left: calc(100% - 30px);
        top: 100%;
    }
    75% {
        left: 0;
        top: 100%;
    }
    90% {
        left: -15px;
        top: -10px;
    }
    100% {
        left: 10%;
        top: -10px;
    }
}
.ex-13-button:hover .ex-13-bottom-white {
    animation-name: bottom_complete;
    animation-duration: 4s;
    animation-timing-function: linear;
}

@keyframes bottom_complete {
    0% {
        bottom: -10px;
        right: 20%;
    }
    30% {
        right: calc(100% - 30px);
        bottom: -10px;
    }
    45% {
        right: calc(100% - 30px);
        bottom: 100%;
    }
    75% {
        right: 0;
        bottom: 100%;
    }
    90% {
        right: -15px;
        bottom: -10px;
    }
    100% {
        bottom: -10px;
        right: 20%;
    }
}

/* ------------------------------------------------------------------- */
